#simple-text {
    background-color:cornsilk;
    margin: 10px;
    height: 1000px;
}

.navbar-brand {
    font-weight: bold;
    font-size: 200%;
}

#sub-header {
    margin-top: 90px;
    font-weight: 700;
    font-size: 100%;
}

#navbarSupportedContent {
    background-color: rgb(29, 18, 4);
}


.navbar {
    background-color: gray;

}

a {
    color: black;

}

a:hover {
    color: white;
}

a:active {
    color: white;
}